.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
    background-color: #0093E9;
    background-image: linear-gradient(90deg, #0093E9 31%, #80D0C7 100%);  
 }

 .footer-note {
     color: white;
 }