
.data-grid-rfps-light {



    .MuiSvgIcon-root {
        color: white;
    }
    
    .css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
        font-weight: bold !important;
    }
    
    .MuiDataGrid-row:nth-child(even){
        background-color: rgb(239, 244, 248);
      }
}