.MuiDataGrid-columnHeaders {
    background-color: #0093E9 !important;
    color: white;
    font
}
.MuiSvgIcon-root {
    color: white;
}

.MuiDataGrid-row:nth-child(even){
    background-color: rgb(239, 244, 248);
  }