.MuiDataGrid-columnHeaders {
    background-color: #0093E9 !important;
    color: white;
}
.MuiSvgIcon-root {
    color: white;
}

.MuiDataGrid-row.Mui-odd {
    background-color: aliceblue;
  }