
.data-grid-rfps-light {
    .MuiDataGrid-columnHeaders {
        background-color: #0093E9 !important;
        color: white;
    }
    .MuiSvgIcon-root {
        color: white;
    }
    
    .css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
        font-weight: bold !important;
    }
    
    .MuiDataGrid-row:nth-child(even){
        background-color: rgb(239, 244, 248);
      }
}