.logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .app-header {
    height: 200px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }