.header {
  background-color: #0093E9;
  background-image: linear-gradient(90deg, #0093E9 31%, #80D0C7 100%);  
  margin-top: 0 !important;
  padding: 50px;
  color: white;
  display:flex;
  }

  . .child {
    margin-left: auto;
    order: 2;
  }