.title {
  background: rgb(7,29,51);
  background: linear-gradient(90deg, rgba(7,29,51,1) 0%, rgba(9,59,121,1) 50%, rgba(0,166,255,1) 100%);
    margin-top: 0 !important;
    padding: 32px;
    color: white;
  }