.lightHeader {
  background-color: #0093E9;
  background-image: linear-gradient(90deg, #0093E9 31%, #80D0C7 100%);  
  margin-top: 0 !important;
  padding: 50px;
  color: white;
  display:flex;
  }

  .darkHeader {
  background-color: #063550;
  background-image: linear-gradient(90deg, #063550 31%, #15312e 100%);  
  margin-top: 0 !important;
  padding: 50px;
  color: white;
  display:flex;
  }

  .modeToggle {
    margin-left: auto;
    order: 2;
  }

  .modeIcon {
    vertical-align: middle;
  }

  .css-mghcik-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color: #0093E9 !important;
}

.MuiSwitch-track {
  background-color: #000 !important;
}