.preCodeLight {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    background-color: rgb(222, 236, 248);
    height: 300px;
    overflow-y: auto;
    padding: 10px;
  }

  .preCodeDark {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    background-color: #031f30;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
  }

  .errorSummary {
      text-align: center;
  }