.lightTable .MuiDataGrid-columnHeaders {
  background-color: #0093e9 !important;
  color: white;
}

.lightTable .MuiDataGrid-row:nth-child(even) {
  background-color: rgb(239, 244, 248);
}

.darkTable .MuiDataGrid-columnHeaders {
  background-color: #063550 !important;
  color: white;
}

.darkTable .MuiDataGrid-row:nth-child(even) {
  background-color: rgb(29, 41, 51);
}

.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}

  .MuiDataGrid-cell{
  max-height: fit-content !important;
  overflow: auto;
  max-height: inherit;
  white-space: initial!important;
  line-height: 16px !important;
  display: flex!important;
  align-items: center;
  padding-top: 12px!important;
  padding-bottom: 12px!important;
  }